*{
    font-family: Montserrat,serif;
}


.mainDiv{
    background: #6492a1;
    padding: 10px;
    box-sizing: border-box;
}

#btnPosts{
    width: 90%;
}
a,button{
    width: 100px;
}

.btnDiv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.allTitles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.allTitles>div{
    width: calc(95%/5);
    font-size: 14px;

    margin-top: 20px;

    background: #a19564;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 400ms;

}
.allTitles>div:hover{
    background: #80b7c9;
}

.allTitles>div>div {
    padding: 5px;

    box-sizing: border-box;
}

div>li>li{
    margin-left: 30px;
}

.mainDiv>div{
    margin-left: 10px;
    width: 30%;
}

.mainDiv>div:hover{
    background: #80b7c9;
    transition: 300ms;
}

.mainDiv>div>li:hover{
    background: #afa26b;
    transition: 400ms;
}

.mainDiv>div>li>li:hover{
    background: #80b7c9;
    transition: 400ms;
}