*{
    font-family: Montserrat,serif;
}

.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;

}

.mainDiv div{
    width: calc(80% / 2);
    margin-bottom: 20px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

}

a,button{
    width: 36px;
}



.mainDiv div:nth-child(even){
    background: #6492a1;
    transition: 300ms;

}

.mainDiv div:nth-child(odd){
    background: #a19564;
    transition: 300ms;

}

.mainDiv div div {
    margin-left: 10px;
    margin-top: 10px;

    width: 300px;
}

.mainDiv>div:nth-child(even):hover{
    background: #395159;
}

.mainDiv>div:nth-child(odd):hover{
    background: #544e33;
}
