*{
    font-family: Montserrat,serif;
}

.mainDiv{
    background: #a19564;

    font-size: 20px;

    padding: 20px;
    box-sizing: border-box;

    transition: 400ms;
}

.divPost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.divPost>div {
    width: calc(90%/5);
    margin-top: 30px;
    background: #6492a1;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    transition: 400ms;
}
.divPost>div:hover{
    background: #80b7c9;
}

.divPost>div>div{
    transition: 300ms;
    margin-bottom: 5px;
}

.divPost>div>div:hover{
    background: #93cfe3;
}

.mainDiv:hover{
    background: #afa26b;
}

.mainDiv>div:hover{
    background: #cebf7f;
}